// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-side{
    float: left;
}

.center-side{
    float: center;
}

.non{
    clear: both;
}

.hogehoge{
    color: orange;
}

.background{
    background-color: black;
}

.white-word-color{
  color: white;
}